<mat-sidenav-container>

    <mat-sidenav #sidenav mode="over" role="navigation" fixedInViewport="true">
        <mat-toolbar>
            <mat-toolbar-row>
                <span class="toolbar-title">Performance Phenomics <span class="toolbar-title-heavy">Docs</span></span>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-nav-list class="sidenav-list">
            <!-- This is a fake link, it's a temporary fix because angular material
            always tried to highlight the first link in the link when the sidnav
            is opened -->
            <a mat-list-item href="#" style="height: 0;"></a>
            <!--  -->
            
            <a mat-list-item *ngFor="let repo of repos" href="#" (click)="setContent(repo)">{{ repo.prettyName }}</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <iframe src="" frameborder="0"></iframe>
    </mat-sidenav-content>

</mat-sidenav-container>