<mat-sidenav-container>

    <mat-sidenav #sidenav mode="over" role="navigation" fixedInViewport="true">
        <mat-toolbar>
            <mat-toolbar-row>
                <span class="toolbar-title">Performance Phenomics <span class="toolbar-title-heavy">Docs</span></span>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-nav-list class="sidenav-list">
            <a mat-list-item href="#">Link 1</a>
            <a mat-list-item href="#">Link 2</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <iframe src="../../../assets/pipe_inputs/index.html" frameborder="0"></iframe>
    </mat-sidenav-content>

</mat-sidenav-container>