<mat-sidenav-container>

    <mat-sidenav #sidenav mode="over" role="navigation" fixedInViewport="true">
        <mat-toolbar>
            <mat-toolbar-row>
                <span class="toolbar-title">{{ toolbarTitle }} <span class="toolbar-title-heavy">Docs</span></span>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-nav-list class="sidenav-list">

            <h2 matSubheader> Repositories </h2>

            <!-- This is a fake link, it's a temporary fix because angular material
            always tries to highlight the first link in the link when the sidnav
            is opened -->
            <a mat-list-item href="#" style="height: 0;"></a>
            <!--  -->

            <a mat-list-item *ngFor="let repo of repos" (click)="sidenav.close()" [routerLink]="[repo.name]">
                <mat-icon matListIcon>folder</mat-icon> {{ repo.prettyName }}
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>