@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

iframe {
    display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}

.toolbar-title {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: lighter;
}

.toolbar-title-heavy {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: bold;
}